@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");

/* =======> Variables */

:root {
  --dark-black: #181818;
  --mid-grey: #787878;
  --light-grey: #b2b2b2;
  --transition-duration: 350ms;
  --secondary-font: "Ubuntu", sans-serif;
}

/* =======> Global Rules */

body {
  background-color: var(--dark-black, #181818);
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

::selection {
  background-color: var(--mid-grey);
  color: var(--dark-black);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-black);
  box-shadow: 2px 2px 6px 0px #fff4 inset, -2px -2px 6px 0px #fff4 inset;
  border-radius: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

/* =========> Loading Animation */

.loading {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-black);
  color: var(--mid-grey);
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: var(--dark-black);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* =========> Helpful Classes */
.bg-dark-black {
  background-color: var(--dark-black);
}
.fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

/* =========> Sidebar */

aside {
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 999999;
}

aside nav {
  max-width: 300px;
  min-width: 271px;
  position: relative;
}

nav > ul li {
  margin-block: 500px;
  font-size: 18px;
  transition: background-color var(--transition-duration),
    padding-left var(--transition-duration);
  position: relative;
  opacity: 0;
}

nav > ul li:hover {
  padding-left: 20px;
  background-color: var(--light-grey);
}

nav footer {
  position: absolute;
  bottom: 20px;
}

.social-links i {
  font-size: 18px;
  color: var(--mid-grey);
}

.social-links .facebook {
  --color: #4267b2;
}
.social-links .twitter {
  --color: #1d9bf0;
}
.social-links .youtube {
  --color: #ff0000;
}

.social-links a i {
  transition: color var(--transition-duration);
}

.social-links a:hover i {
  color: var(--color);
}

.heart {
  color: #eb1d36;
}

.author a {
  color: #f1f1f1;
  isolation: isolate;
  transition: color var(--transition-duration);
}

.author a:hover {
  color: #333;
}

.author a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fecd70;
  height: 0%;
  width: 100%;
  transition: height var(--transition-duration);
  z-index: -1;
}
.author a:hover::before {
  height: 80%;
}

.menu {
  width: 50px;
  color: var(--dark-black);
}

.show-hide-icon {
  cursor: pointer;
  font-size: 25px;
}

.menu .icons i {
  transition: color var(--transition-duration);
}

.menu .icons i:hover {
  color: #d1512d;
}

.row {
  padding-left: 50px;
}

.meal,
.category {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.meal img,
.category img {
  object-fit: cover;
  object-position: center center;
}

.meal .meal-info,
.category .category-info {
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #fff9;
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top var(--transition-duration);
  cursor: pointer;
  color: var(--dark-black);
}

.meal:hover .meal-info,
.category:hover .category-info {
  top: 0;
}

/* =======> Meal Details */

.meal-brief .meal-name {
  margin-top: 8px;
}

.meal-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.meal-details h4 i {
  margin-right: 5px;
  font-size: 20px;
}

.meal-details span {
  display: block;
  padding: 4px 8px;
  background-color: #ffc23c;
  color: var(--dark-black);
  border-radius: 10px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.area,
.category,
.recipes,
.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.area h4 {
  font-size: 22px;
  margin-right: 10px;
  margin-bottom: 0;
}

.sources {
  display: flex;
  gap: 10px;
}

.btn-source {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3ab0ff;
  --bs-btn-border-color: #3ab0ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2495e0;
  --bs-btn-hover-border-color: #1887d1;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
}

.btn-youtube {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff0000;
  --bs-btn-border-color: #ff0000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ca0606;
  --bs-btn-hover-border-color: #b30707;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
}

.sources button a:hover {
  color: #fff;
}

/* =======> Search */

.row.search {
  gap: 20px;
  margin-bottom: 40px;
}

.form-control {
  width: calc(50% - 10px);
  transition: none;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.row.search ::placeholder {
  text-align: center;
}

/* =======> Areas */

.area-container,
.ingredient-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: background-color var(--transition-duration);
}
.area-container:hover,
.ingredient-container:hover {
  cursor: url(../images/cursor2.png), auto;
  background-color: #282828;
}

.area-name,
.ingredient-name {
  font-weight: 400;
}
.area-icon,
.ingredient-icon {
  color: #b30707;
  font-size: 40px;
}

/* =======> Contact Us */

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form > div {
  width: 50%;
  padding: 10px;
}

.form > * input {
  width: 100%;
}

.form > * label {
  margin-bottom: 5px;
}

.form button {
  margin-top: 10px;
  font-size: 18px;
  padding: 8px 30px !important;
}
